<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>willneverwork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E9A567C1C15093C0061FFE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E9A56901C15093C0061FFE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E9A569B1C15093C0061FFE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
